body {
  margin-left: 10%;
  margin-right: 10%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center; /* all headings centered */
  clear: both;
}

h2.nobreak {
  page-break-before: avoid;
}
p {
  margin-top: 0.51em;
  text-align: justify;
  margin-bottom: 0.49em;
  text-indent: 4%;
}

.nind {
  text-indent: 0%;
}

hr {
  width: 33%;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
  clear: both;
}

.blockquote {
  margin-left: 5%;
  margin-right: 10%;
}

table {
  margin-left: auto;
  margin-right: auto;
}

/* Images */
.figcenter {
  margin: auto;
  text-align: center;
}

/* Notes */
.footnotes {
  border: dashed 1px;
}

.footnote {
  margin-left: 10%;
  margin-right: 10%;
  font-size: 0.9em;
}

.footnote .label {
  position: absolute;
  right: 84%;
  text-align: right;
}

.fnanchor {
  vertical-align: super;
  font-size: 0.8em;
  text-decoration: none;
}

/* Poetry */
.poem {
  margin-left: 10%;
  margin-right: 10%;
  text-align: left;
}

.poem br {
  display: none;
}
.poem {
  display: inline-block;
  text-align: left;
}
.poem .stanza {
  margin-top: 1em;
  margin-bottom: 1em;
}
.poem span.i2 {
  display: block;
  margin-left: 1em;
  padding-left: 3em;
  text-indent: -3em;
}
